*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-size: 24px;
    font-family: 'Space Mono', monospace;
}

:root{
--Very-dark: #00494d;
--Dark-grayish: #5e7a7d;
--bg-input: #7f9c9f;
--bg-body: #c5e4e7;
--Light-grayish: #0b0c0c;
--Strong-green: #26c0ab;
--white: #fff;
}

body{
    
    background: var(--bg-body);
}

.logo{
    display: flex;
    justify-content: center;

    width: 1440px;
    margin: 8rem auto 4rem auto ;

    display: flex;
    align-items: center;
}

.mainContainer{
    display: flex;
    justify-content: center;

    background: var(--white);

    width: 50vw;
    height: 50vh;

    margin: 0 auto;

    border-radius: 1rem;
}

.numberSide{
    display: flex;
    flex-direction: column;


    border: 3px solid red;
    width: 50%;;
}

.numberSide h2{
    font-size: .8rem;
    font-weight: 300;
    color: var(--Dark-grayish);

    margin-left: 1rem;
}
.values1{
    display: flex;
    gap: .6rem;

    margin-left: 1rem;

    font-weight: 700;
    color: var(--white);

}

.values1 span{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: .4rem 0 .4rem 0;

    background: var(--Very-dark);

    border-radius: .3rem;

    width: 5.5rem;
    height: 2.2rem;

    cursor: pointer;
}

.custom{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: .4rem 0 .4rem 0;

    border-radius: .3rem;

    width: 5.5rem;
    height: 2.2rem;

    cursor: pointer;

    color: var(--Dark-grayish);
    background: var(--white) ; 
    border: 1px solid var(--Very-dark);
}

.numberZero{
    display: flex;
}

.bill{
    display: flex;
    flex-direction: column;

    padding: 1rem;
}

.bill input{
    text-align: right;

    border-radius: .2rem;
    border: 2px solid var(--Strong-green);

    padding: 0.2rem;

    font-size: 1.2rem;
    font-weight: 700;
    color: var(--Very-dark);
}

.totalSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.totalContainer{
    display: flex;
    flex-direction: column;
    

    border-radius: 1rem;

    background: var(--Very-dark);

    width: 90%;
    height: 90%;
}

.totalContainer span{
    color: var(--bg-input);
    font-size: .7rem;

    
}


.tipAmount{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
    color: var(--white);
}

.amountValue{
    display: flex;
    justify-content: space-around;
    
    margin-top: 2rem;

}

.amountValue p{
    color: var(--Strong-green);
    
    
    font-size: 2rem;
    font-weight: 700;
}

button{
font-weight: 700;

background: var(--Strong-green);
color: var(--Very-dark);

cursor: pointer;

width: 90%;
padding: 0.3rem;


border-radius: .2rem;
border: none;

margin: 4rem auto 0 auto;
}

