*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-size: 24px;
    font-family: 'Space Mono', monospace;
}

:root{
--Very-dark: #00494d;
--Dark-grayish: #5e7a7d;
--bg-input: #7f9c9f;
--bg-body: #c5e4e7;
--Light-grayish: #0b0c0c;
--Strong-green: #26c0ab;
--white: #fff;
}

body{
    
    background: var(--bg-body);
}

.logo {
    display: flex;
    justify-content: center;

    width: 1440px;
    margin: 8rem auto 4rem auto ;

    display: flex;
    align-items: center;
}

.mainContainer{
    display: flex;

    background: var(--white);

    width: 50vw;
    height: 50vh;

    margin: 0 auto;

    border-radius: 1rem;
}

.numberSide{
    display: flex;
    flex-direction: column;

    border: 3px solid red;
    width: 50%;;

}

.values1{
    display: flex;
}

.values2{
    display: flex;
}

.numberZero{
    display: flex;
}

.bill{
    border: 1px solid red;
}





.totalSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;

}

.totalContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    border-radius: 1rem;

    background: var(--Very-dark);

    width: 90%;
    height: 90%;

}

.tipAmount{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border: 1px solid red;
    
    color: var(--white);

}

.tipAmount p {
    color: var(--Strong-green);
    
    
    font-size: 2rem;
    font-weight: 700;
}



.totalContainer span {
    color: var(--bg-body);
    border: 3px solid gold;
    font-size: .7rem;
}

 button{
font-weight: 700;

background: var(--Strong-green);
color: var(--Very-dark);


width: 90%;
padding: 0.3rem;


border-radius: .2rem;
border: none;
}