* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-size: 24px;
  font-family: 'Space Mono', monospace;
}

:root {
  --Very-dark: #00494d;
  --Dark-grayish: #5e7a7d;
  --bg-input: #7f9c9f;
  --bg-body: #c5e4e7;
  --Light-grayish: #0b0c0c;
  --Strong-green: #26c0ab;
  --white: #fff;
}

body {
  background: var(--bg-body);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 4rem auto;
}

.mainContainer {
  display: flex;
  background: var(--white);

  width: 50vw;
  height: 500px;

  margin: 0 auto;

  border-radius: 1rem;
}

.numberSide {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 50%;
}

.tipH2 {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--Dark-grayish);

  margin-left: 1rem;
  margin-top: 1rem;
}

.values {
  display: flex;
  gap: 0.6rem;

  margin-left: 1rem;

  font-weight: 700;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0.4rem 0 0.4rem 0;

  color: var(--white);

  background: var(--Very-dark);

  border-radius: 0.3rem;

  width: 5.5rem;
  height: 2.2rem;
}

.btnActive {
  background-color: var(--Strong-green);
  color: var(--Very-dark);
}

#custom {
  margin: 0.4rem 1rem 0 0;

  width: 29%;
  height: 2.2rem;
}

#custom::placeholder {
  color: var(--Very-dark);
  text-align: center;
  opacity: 0.7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberZero {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-left: 1rem;
  margin-top: 1rem;
}

.peopleNumber {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--Dark-grayish);
}

.error {
  font-size: 0.8rem;
  color: rgb(211, 94, 94);

  opacity: 0;
}

.showError {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

#totalPeople {
  margin-top: 1rem;

  background: url(assets/images/icon-person.svg) #f2f8fb no-repeat scroll 20px
    17px;
}

.bill {
  display: flex;
  flex-direction: column;

  padding-top: 1rem;
}

.bill label {
  padding-left: 1rem;
}

.bill input {
  text-align: right;
  border-radius: 0.2rem;

  font-size: 1.2rem;
  font-weight: 700;
  color: var(--Dark-grayish);
}

#billTotal {
  background: url(assets/images/icon-dollar.svg) #f2f8fb no-repeat scroll 20px
    17px;
}

.numberSide input {
  text-align: right;

  border-radius: 0.2rem;
  border: none;
  padding: 0.2rem;
  margin: 0.5rem auto 0 auto;

  width: 95%;

  font-size: 1.2rem;
  font-weight: 700;
  color: var(--Very-dark);
  background: #fcf5f5;
}

.numberSide input:focus {
  outline-color: var(--Strong-green);
}

.totalSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.totalContainer {
  display: flex;
  flex-direction: column;

  border-radius: 1rem;

  background: var(--Very-dark);

  width: 90%;
  padding: 1rem;
}

.totalContainer span {
  color: var(--bg-input);
  font-size: 0.7rem;
}

.tipAmount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: var(--white);
}

.amountValue {
  display: flex;
  justify-content: space-between;

  padding: 0 0.7rem;

  margin-top: 2rem;
}

.amountValue p {
  color: var(--Strong-green);

  font-size: 2rem;
  font-weight: 700;
}

button {
  font-weight: 700;

  background: var(--Strong-green);
  color: var(--Very-dark);

  cursor: pointer;

  width: 90%;
  padding: 0.3rem;

  border-radius: 0.2rem;
  border: none;
}

.reset {
  margin: 4rem auto 1rem auto;
}

@media (max-width: 1180px) {
  .logo {
    margin: 2rem auto 1.5rem auto;
  }

  .mainContainer {
    height: 900px;
    width: 100%;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .values {
    margin: 0;
  }

  .numberSide {
    width: 90vw;
  }

  #custom {
    width: 37%;
    max-width: 130px;

    margin: 0.4rem 0;

    text-align: center;

    font-size: 0.8rem;
  }

  .totalContainer {
    width: 90vw;

    margin: 0;
    padding: 0;
  }

  .reset {
    margin-top: 50px;
  }
}
